Data_analysis_disc.csv
Insurance_accounting_disc.csv
project_timer.r
.Rhistory
.DS_Store

# Ignore global .RProfile
~/.RProfile
# Ignore the renv folder (local project library)
renv/

# Do not ignore the lockfile for reproducibility
!renv.lock

# Ignore local .RProfile
.RProfile

# Ignore .vscode settings
.vscode/

# Ignore Insurance_accounting_disc.xlsx
Insurance_accounting_disc.xlsx